/*
	Compile with less:
	$ lessc -x less/style.less > css/style.css
*/


@import "../bower_components/bootstrap/less/bootstrap.less";

@import "variables.less";
@import "countdown.less";


/* Style */

.bars-before {
	&:before {
		content: '// ';
	}
}

.bars-pseudo() {
	content: ' // ';
	color: @color-highlight;
}

.barrier-h-pseudo() {
	content: '';
	display: block;
	margin-top: 0.25em;
	@color-stripes: @color-highlight;
	background-image: repeating-linear-gradient(-45deg, @color-stripes 0px, @color-stripes 1px, transparent 1px, transparent 4px);
	background-size: 6px 2px;
	height: 2px;
}

h1, h2, h3, h4, h5, h6 {
//	font-family: @font-family-brand;
/*	background-color: @color-highlight;
	color: @color-brand;
	font-weight: normal;
	padding: 15px;*/
//	color: @color-brand;
//	text-transform: uppercase;		
	small {
		&:before {
			content: '// ';
		}
	}
}

strong, .strong {
	small {
		font-size: 1em;
		.bars-before;
		font-weight: normal;
	}
}

ul.desc {
	li {
		.strong;
	}
}

.make-colors() {

	color: @color-text;
	background-color: @color-bg;
	
	h1, h2, h3, h4, h5, h6 {
		&:after {
			.barrier-h-pseudo();		
		}
	}
	
	strong, .strong, em, h1 small, h2 small, h3 small, h4 small, blockquote footer {
		color: @color-highlight;
	}
	strong, .strong {
		small {
			color: @color-text;
		}
	}
	
	a {
		color: @color-highlight;
		&.btn-primary {
			color: @color-bg;
		}
	}
	a:hover, a:active, a:focus, .active > a {
		color: @color-text;
		text-decoration: none;
		&.btn-primary {
			color: @color-bg;
		}
	}
	h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
		color: @color-text;
	}
	h1>a:hover, h2>a:hover, h3>a:hover, h4>a:hover, h5>a:hover, h6>a:hover {
		color: @color-highlight;
		text-decoration: none;
	}
	
	li small {
		color: @color-highlight;
	}
	
}


/* Home > Banner */

#banner {
	.colors-dark();
	.make-colors();

	@banner-height: 300px;
	@banner-padding: 20px;
	height: @banner-height+@banner-padding*2;
	padding: @banner-padding 0 @banner-padding 0;
	
	.hand {
		.hidden-xs;
		.make-sm-column(3);
		height: @banner-height;
		background-repeat: no-repeat;
	}
	.hand-left {
		background-image: url('/img/brand/hand-left.png');
		.svg & {
			background-image: url('/img/brand/hand-left.svg');
		}
		background-position: right center;
		background-size: auto @banner-height*0.8;
	}
	.hand-right {
		background-image: url('/img/brand/hand-right.png');
		.svg & {
			background-image: url('/img/brand/hand-right.svg');
		}
		background-position: left center;
		background-size: auto @banner-height*0.9;
	}
	
	.logo {
		.make-xs-column(12);
		.make-sm-column(6);
		height: @banner-height;
		background-image: url('/img/brand/logo-dark.png');
		.svg & {
			background-image: url('/img/brand/logo-dark.svg');
		}
		background-position: center top;
		background-size: auto (@banner-height)-40px;
		background-repeat: no-repeat;
		position: relative;
		&:after {
			content: '8. - 10. Mai 2014';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			color: @color-highlight;
			font-style: italic;
		}
	}

}


/* Structure */

body.mainnav-fixed-top {
	@media(min-width: @screen-sm-min) {
		margin-top: @navbar-height+20px;
	}
}

#mainnav {

	.navbar;
	.navbar-static-top;
	&:first-child {
		@media(min-width: @screen-sm-min) {
			.navbar-fixed-top;		
		}
	}
	
	.colors-dark();
	.make-colors();

	border: none;
	border-radius: 0;
	
	a {
		color: @color-text;
	}
	a:hover, a:active, a:focus, .active > a {
		color: @color-text;
		text-decoration: none;
	}
	
	button.navbar-toggle {
		background-color: @color-highlight;
		.icon-bar {
			background-color: @color-text;
		}
	}
	
	.brand-constrained-wrapper {
		@media (max-width: 900px) {
			display: none;
		}
		.navbar-brand;
		padding: 0;
		height: @navbar-height;
		font-family: @font-family-brand;
		font-size: 60px;
		line-height: @navbar-height*0.9;
		color: @color-brand;
		position: relative;
		overflow: hidden;
		#brand-constrained-inner-right {
			position: absolute;			
			right: -19px;
		}
		#brand-constrained-inner-left {
			position: absolute;			
			left: -19px;
		}
	}
	#brand-constrained-left {
		width: 180px;
		margin-left: -15px;
	}
	#brand-constrained-right {
		width: 165px;
		margin-right: -15px;
	}
	
	#brand-small {
		@media (min-width: 901px) {
			display: none;
		}
		line-height: @navbar-height;
		font-weight: bold;
		margin: 0 15px 0 15px;
		font-size: 1.5em;
	}
	
	#countdown-wrapper {
		@media (max-width: 1033px) {
			display: none;
		}
		color: @color-highlight;
		height: @navbar-height;
		padding-top: @navbar-height/2-7px;
	}
	
	.nav {
		a:hover, a:focus, a:active, .active > a {
			.colors-dark-inverted();
			color: @color-text;
			background-color: @color-bg;
		}
	
		.dropdown-menu {
			.colors-dark-inverted();
		    margin-top: 0px;
			min-width: 100%;
			border: none;
			border-radius: 0;
			box-shadow: none;
			background-color: @color-bg;
			a {
				color: @color-text;
			}
			a:hover, a:focus, a:active, .active > a {
				color: @color-highlight;
			}
		}
		li.dropdown:hover > ul.dropdown-menu {
			@media (min-width: @screen-sm-min) {
			    display: block;
			}
		}
		
	}
	
	.navbar-collapse {
		max-height: none;
	}
		
}


#main {
	
	.container;
	margin-bottom: 20px;
	
	.colors-light();
	.make-colors();
	
	#sidebar {
		
		.make-sm-column(3);
		.hidden-xs;
		
	}

	.sidebar-complement {
		.make-sm-column(9);
	}
	.full-width {
		.make-sm-column(12);
	}

	.content {
		
		p {
			.text-justify;
		}

		a:not(.unstyled):before, a:not(.unstyled):after {
		//	.bars-pseudo();
		}

	}
	
	.submenu-box, .news-box, .programm-box {
		a {
			color: @color-text;
		}
		a:hover, a:active, a:focus, .active > a {
			color: @color-highlight;
			text-decoration: none;
		}
	}
		
}


#footer {
	padding-top: 15px;
	
	.colors-brand();
	.make-colors();
	
	color: @color-text;
	
	h1, h2, h3, h4, h5, h6 {
	//	font-family: @font-family-brand;
	/*	background-color: @color-highlight;
		color: @color-brand;
		font-weight: normal;
		padding: 15px;*/
	//	color: @color-brand;
	//	text-transform: uppercase;		
		&:after {
			.barrier-h-pseudo();		
		}
		small {
			&:before {
				content: '// ';
			}
		}
	}
	
	strong, .strong, small {
		color: @color-highlight;
	}

	a {
		color: inherit;
	}
	a:hover, a:active, a:focus {
		color: @color-highlight;
		text-decoration: none;
	}
	
	#extra {
		.make-row();
		
		#fb {
			.make-sm-column(5);
		}
		#sponsoren {
			.make-sm-column(7);
			.sponsoren-container {
				background-color: white;
				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
			.sponsoren-item {
				float: left;
				width: 33%;
				&.hauptsponsor {
					width: 66%;
				}
				img {
					width: 100%;
				}
				&.make-border {
					padding: 10px;
				}
				&.rowbreak {
					clear: both;
				}
			}
		}
		#kontakt {
			.make-sm-column(3);
		}
	}

	#bottom-line {
		.make-row();
		font-size: 0.85em;
		margin-top: 30px;
		margin-bottom: 25px;
		& > div {
			.make-sm-column(4);
			height: 50px;
			.vertical-center;
			text-align: center;
			@media (max-width: @screen-sm-min) {
				width: 100%;
			}
		}
		#copyright {
			@media (min-width: @screen-sm-min) {
				text-align: left;
			}
		}
		#about {
			@media (min-width: @screen-sm-min) {
				text-align: right;
			}
		}
		#silhouetten {
			img {
				height: 50px;
				margin-right: 10px;
			}
		}

	}
	
}

.vertical-center {
	display: table;
	.vertical-center-inner {
		display: table-cell;
		vertical-align: middle;
	}
}


/* Content */

.brand-box {
	.logo {
		.img-responsive;
		width: 100%;
		margin: 15px 0 15px 0;
	}
	.date {
		.text-center;
	}
}

.tickets-left-counter-box {
	text-align: center;
	margin: 10px 0 10px 0;
	.btn {
		margin-top: 10px;
	}
}

.submenu-box {
	.list-unstyled;
}

.news-box {
	.list-unstyled;
}

.referent-box-wrapper {
	margin: 15px 0 15px 0;
}
.referent-box {
	padding: 15px;
	border: 1px solid fadeout(@color-brand, 75%);
	border-radius: 4px;
	img {
		.portrait-thumb;
	}
}

.programm-box {
	table {
		@media (min-width: @screen-sm-min) {
			table-layout: fixed;
		}
	}
	td:first-child, th:first-child {
		width: 80px;
	}	
}




.portrait-thumb {
	max-height: 200px;
	max-width: 200px;
}

.news-item {
	.referent-box {
		width: 90%;
		margin: 0 auto;
	}
}

.referent-item-large {
	clear: both;
	.referent-img {
		.portrait-thumb;
		.pull-right;
		margin: 0 0 15px 15px;
	}
}
.referent-item {
	.referent-img {
		.portrait-thumb;
		margin: 0 15px 0 0;
	}
}

#teamlist {
	.list-unstyled;
	li.teamitem {
		.make-sm-column(6);
		margin-bottom: 15px;
		div {
			.text-center;
		}
		.bild {
			img {
				.portrait-thumb;
			}
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}
}

.archiv-item {
	img {
		.pull-right;
		margin: 0 0 15px 15px;
	}
}

.faq {
	dt {
		.strong();
	}
}


/* Forms */

.form-col-label {
	.make-sm-column(3);
}
.form-col-input {
	.make-sm-column(6);
}

#ticketverkauf-submit-desc.show-dest:after {
	content: attr(data-content);
	margin-right: 15px;
}

/* Facebook Like Box */

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {
	width:  100% !important;
	display:block;z-index:0;position:relative
}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe  span[style] {
	width: 100% !important;
	display:block;z-index:2000;position:relative
}

/* gmaps view */

.gmaps {
	border: none;
	width: 100%;
	height: 500px;
}

/* jqBootstrapValidation */

.help-block {
	ul {
		.list-unstyled;
		color: red;
	}
}

/* PayPal */

#paypal, #sofortueberweisung {
	display: none;
}
