[submodule "VIWebFramework"]
	path = VIWebFramework
	url = https://github.com/knly/VIWebFramework
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "components/bootstrap"]
	path = components/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "js/jQuery-Countdown"]
	path = js/jQuery-Countdown
	url = https://github.com/martinaglv/jQuery-Countdown
