<?php

	require_once(__DIR__.'/VIWebFramework/VIConstants.php');
	VIConstants::$env = VI_ENV_DEBUG; // see VIWebFramework/VIConstants.php for options
	
	require_once(__DIR__.'/VIWebFramework/VIPagemap.php');
	VIPagemap::$baseurl = 'http://www.heidelberger-symposium.de';
	VIPagemap::$basedir = '/hcwk';
	
	require_once(__DIR__.'/VIWebFramework/VILogger.php');
	VILogger::get('default')->log_level = VI_LOG_LEVEL_DEBUG; // see VIWebFramework/VILogger.php for options


	// Datenbank
	$mysql_server = 'localhost';
	$mysql_username = 'root';
	$mysql_password = 'root';
	$mysql_database = 'database';


	// Zahlungsarten
	
	$paypal_merchant_id = '';
	$paypal_merchant_id_sandbox = '';
	$paypal_use_sandbox = true;
	
	$sofortueberweisung_user_id = '';
	$sofortueberweisung_project_id = '';
	$sofortueberweisung_api_key = '';

?>